* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.principal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(23, 126, 167);
    height: 100vh;
    width: 100;
    text-align: center;
}

.caixa-maior {
    background-color: rgb(5, 54, 77);
    width: 95%;
    max-width: 45rem;
    opacity: 0.8;
    padding: 1.5rem;
    border-radius: 1.563rem;
}

.titulo {
    text-transform: uppercase;
    background-color: rgb(6, 42, 95);
    opacity: 0.8;
    color: #e7e7e7;
    margin-bottom: 1.25rem;
    text-align: center;
    border-radius: 1.563rem;

}

.input-cidade {
    border: none;
    text-align: center;
    outline: none;
    padding: 0.625rem;
    border-radius: 1.563rem;
    font-size: 1.4rem;
    background-color: #1b80e6a2;
    cursor: pointer;
    margin: 1rem 2rem;
    width: calc(100% - 100px);
    color: black;
}

.input-cidade:hover {
    transition: 0.3seg;
    color: #ffffff;
    background-color: #032b50;
}

.input-cidade:active {
    opacity: 0.8;
    color: #07539f;
}

.bnt-pesquisar {
    border: none;
    border-radius: 2rem;
    text-align: center;
    outline: none;
    padding: 0.5rem;
    background-color: #ffffff;
    cursor: pointer;
    padding: 0.625rem;
    border-radius: 1.563rem;
    font-size: 1.4rem;
    margin: 1rem 2rem;
    width: calc(100% - 200px);
}

.bnt-pesquisar:hover {
    background-color: black;
    color: #ffff;
    transition: 0.5ms;
}


.bnt-pesquisar:active {
    background-color: rgba(15, 100, 211, 0.877);
    color: #ffffff;
    opacity: 0.8;
}


.caixa-menor {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    background-color: rgb(255, 0, 0);

}

.cidade,
.tempo,
.descricao,
.umidade {
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    color: #ffffff;
    text-align: center;
    margin: 0.625rem;
}

.texto{
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    color: #ffffff;
    text-align: center;
    margin: 0.625rem;
}

#icon{
    width: 4rem;
    height: 4rem;
}